{% extends 'resume_plain.html' %}
{% block cover %}
     <div class="container">
            <div class="spacer"></div>
            <div class="topright mb">
              <p>{{ org['Organization'] }}</p>
              <p>{{ org['Adress'] }}</p>
            </div>
            <p class="bolded mb">
              Le {{ date }},
            </p>
              <p class="bolded mb">
                Objet: Candidature pour un poste {% if org['Job'].startswith(("A", "E", "I", "O", "U", "Y")) %}d'{% else %}de {% endif %}{{ org['Job'].lower() }}
              </p>
              
            <p class="mb">
              {% if org['HR'] %}
                À l'attention de {{ org['HR'] }},
              {% else %}
                Au responsable des ressources humaines,
              {% endif %}
            </p>
            
            
            <p class="mb">Actuellement à la recherche de nouveaux défis professionnels, je vous écris pour vous proposer ma candidature pour un poste {% if org['Job'].startswith(("A", "E", "I", "O", "U", "Y")) %}d'{% else %}de {% endif %}{{ org['Job'].lower() }}. Je suis actuellement aux études à temps partiel au doctorat et je souhaite continuer d'acquérir de l'expérience professionnelle tout en poursuivant mon projet d'études.
            </p>
            {% if org['Type'] == "" %}
            <p class="mb">
              Mon parcours professionnel m'a permis d'acquérir 5 années d'expérience en {{ highlighted_skills[0].lower() }}, {{ highlighted_skills[1].lower() }} et {{ highlighted_skills[2].lower() }} qui me seront utiles pour le poste {% if org['Job'].startswith(("A", "E", "I", "O", "U", "Y")) %}d'{% else %}de {% endif %}{{ org['Job'].lower() }}. 
              Mes {{skilled[0]["Type"].lower()}} en {{skilled[0]["Title"].lower()}} se sont développés {{skilled[0]["Description"]}}
              J'ai aussi acquis des {{skilled[1]["Type"].lower()}} en {{skilled[1]["Title"].lower()}} {{skilled[1]["Description"]}}
              Enfin, mes {{skilled[2]["Type"].lower()}} en {{skilled[2]["Title"].lower()}} se sont développées {{skilled[2]["Description"]}}        
            </p>

          <p class="mb">{{ org["Filler"] }}</p>
          {% else %}
            {% for line in text %}
              <p class="mb">
                {{ line|safe }}
              </p>
            {% endfor %}
          {% endif %}

            <p class="mb">Je vous remercie vivement de l'attention que vous porterez à ma candidature et je reste à votre disposition pour toute information complémentaire ou pour convenir d'un entretien. 
            </p>
            <p class="mb">
                Maxe F. Giguère
                </p>
            <img style="width:8cm" src="{{ url_for('static', filename='img/signature.png') }}"/>
        </div>
      </div>
    </div>
{% endblock %}