{% extends 'resume.html' %}
{% block cover %}
  
<page size="A4">
    <div class="container">
      <div class="leftPanel" style="background-color:black !important; color:white !important">
        <img src="{{ url_for('static', filename='img/photo.jpg') }}"/>
        <div class="details" >
            <div class="item bottomLineSeparator">
                <h1 class="bolded white">
                  {{ data['user'][0]["FirstName"] }} {{ data['user'][0]["LastName"] }}
                </h1>
                <div class="smallText">
                  <h3>
                    {{ data['user'][0]["CatchPhrase"] }}
                  </h3>
                </div>
              </div>
          <div class="item bottomLineSeparator">
            
            <h2>
              Coordonnées
            </h2>
            <div class="smallText">
              <p>
                <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                {{ data['user'][0]["Phone"] }}
              </p>
              <p>
                <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                <a href="{{ data['user'][0]['Email'] }}" style="color:white">
                  {{ data['user'][0]["Email"] }}
                </a>
              </p>
              <p>
                <i class="fa fa-map-marker contactIcon" aria-hidden="true"></i>
                {{ data['user'][0]["City"] }}
              </p>
            </div>
          </div>


          
        </div>
        
      </div>
      <div class="rightPanel cover smallText">
            <!--div class="spacer"></div-->
            <div class="topright">
              <p>{{ org['Organization'] }}</p>
              <p>{{ org['Adress'] }}</p>
            </div>
            <div class="spacer"></div>
            <p class="bolded ">
              Le {{ date }},
            </p>
            {% if org["Type"] != "autonome" %}

            <p class="bolded smb">
              Objet: Candidature pour un poste {% if org['Job'].startswith(("A", "E", "I", "O", "U", "Y")) %}d'{% else %}de {% endif %}{{ org['Job'].lower() }}
            </p>
          
            
          <p class="smb">
            {% if org['HR'] %}
              À l'attention {% if org['HR'].startswith(("A", "E", "I", "O", "U", "Y")) %}d'{% else %}de {% endif %}{{ org['HR'] }},
            {% else %}
              Au responsable des ressources humaines,
            {% endif %}
          </p>
          <p class="smb">Actuellement à la recherche de nouveaux défis professionnels, je vous écris pour vous proposer ma candidature pour un poste {% if org['Job'].startswith(("A", "E", "I", "O", "U", "Y")) %}d'{% else %}de {% endif %}{{ org['Job'].lower() }}. {% if parameters["intro"] != "" %}{{ parameters["intro"] }}{% else %}{{ data['user'][0]["AboutMe"] }}{% endif %}
          {% endif %}
          </p>
          {% if org['Type'] == "" %}
          <p class="mb">
            Mon parcours professionnel m'a permis d'acquérir 7 années d'expérience en {{ highlighted_skills[0].lower() }}{% if skilled[2] %}, {{ highlighted_skills[1].lower() }} et {{ highlighted_skills[2].lower() }}{% endif %} {% if skilled[1] %}et {{ highlighted_skills[1].lower() }}{% endif %} qui me seront utiles pour le poste de {{ org['Job'].lower() }}. 
            Mes {{skilled[0]["Type"].lower()}} en {{skilled[0]["Title"].lower()}} se sont développés {{skilled[0]["Description"]}}
            {% if skilled[1] %}J'ai aussi acquis des {{skilled[1]["Type"].lower()}} en {{skilled[1]["Title"].lower()}} {{skilled[1]["Description"]}}{% endif %}
            {% if skilled[2] %}Enfin, mes {{skilled[2]["Type"].lower()}} de {{skilled[2]["Title"].lower()}} se sont développées {{skilled[2]["Description"]}}{% endif %}         
          </p>


          <p>Je vous remercie vivement de l'attention que vous porterez à ma candidature et je reste à votre disposition pour toute information complémentaire ou pour convenir d'un entretien.</p> 

        {% else %}
          {% for line in text %}
            <p class="smb">
              {{ line|safe }}
            </p>
          {% endfor %}


          {% endif %}

            <p>Au plaisir de vous rencontrer,
            </p>
            <p>
                Maxe F. Giguère
                </p>
            <img style="width:8cm" src="{{ url_for('static', filename='img/signature.png') }}"/>
        </div>
        </div>
      </div>
    </div>
  </page>
{% endblock %}