<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/frq.css') }}">
  <title>{{ data['user'][0]['FirstName'][0] }}{{ data['user'][0]['LastName'] }}_{{ data['user'][0]['FRQ'] }}_{{ item }}</title>
</head>
<body>
  <page>
<div class="header">{{ data['user'][0]['FirstName'] }} {{ data['user'][0]['LastName'] }}</div>
<div class="footer">{{ item }}</div>
  {% block content %}
  {% endblock %}
</page>
<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</body>