<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simple.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
  <title>{{ data['user'][0]['LastName'] }}_{{ idKey }}</title>
</head>
<page>
<div>
  
</div>
<div class="header">{{ data['user'][0]['FirstName'] }} {{ data['user'][0]['LastName'] }}
  <p class="title"><i class="fa fa-phone contactIcon" aria-hidden="true"> {{ data['user'][0]["Phone"] }}</i>
  <i class="fa fa-envelope contactIcon" aria-hidden="true"> <a href="{{ data['user'][0]['Email'] }}">{{ data['user'][0]["Email"] }}</a></i>
  <i class="fa fa-map-marker contactIcon" aria-hidden="true"> {{ data['user'][0]["City"] }}</i></p></div>

<body>
  {% block cover %}
  {% endblock %}
  {% if not resume %}
  </page>
  <page>
  {% endif %}
  <div class="content">

    <h2>Études</h2>
    {% for post in data["etudes"] if post["Type"] == "etude" and not post["Title"] in skips %}
    <p class="mb"><div class="line"><span><b>{{ post["Title"] }}</b>, <i>{{ post['Organization'] }}</i> ({{ post['Grade'] }}/4,33)</span>
    <span>{{ post['StartDate'] }} à {{ post['EndDate'] }}</span></div>
    <!--i>{{ post['Organization'] }}</i>{% if post['Supervisor'] %}, sous {{ post['Supervisor'] }}{% endif %}</p-->
    <p>{% if post['Grants'] %}<b>Prix et bourses</b>: {{ post['Grants'] }}{% endif %}</p>
    <p>{% if post['Courses'] %}<b>Cours suivis</b>: {{ post['Courses'] }}{% endif %}</p>
    {% endfor %}
    
    {% if certif %}
    <h2>Certifications</h2>
    {% endif %}
    
    {% for post in certif %}
    <div class="line"><span><b>{{ post["Title"] }}</b>, <i>{{ post['Organization'] }}</i></span>
      <span>{{ post['StartDate'] }}</span></div>
    {% endfor %}

    <h2>Expériences pertinentes</h2>
    {% for post in relevant_jobs %}
    <div class="nb"><div class="line"><b>{{ post["Title"] }}</b>
    <span>{{ post['StartDate'] }} à {{ post['EndDate'] }}</span></div><p><i>{{ post['Organization'] }}</i> ({{ post['Time'] }})</p>
    <ul class="mb">
      {% set list1 = post['Tasks'].split('., ') %}
      {% for item in list1 %}
          <li style="text-align:justify">{{ item }}</li>
      {% endfor %} 
    </ul>
    </div>
    {% endfor %}

    <h2>Autres expériences professionnelles</h2>
    {% for post in emplois %}
    <div class="line"><span><b>{{ post["Title"] }}</b></span>
      <span>{{ post['StartDate'] }} à {{ post['EndDate'] }}</span></div>
      <p class="mb"><i>{{ post['Organization'] }}</i> ({{ post['Time'] }})</p>
    </div>
    {% endfor %}
    </page>
    <page>
    <h2>Autres réalisations</h2>
    <h3>Conférences</h3>
    {% for post in data["communications"] if post["Type"] == "Conférence" or post["Type"] == "Affiche" %}
    <p class="smb">{% if post['Authors'] %}{{ post['Authors'] }}{% else %}Giguère, M. F.{% endif %} ({{ post['Date'] }}). <a href="{{post['Url']}}">{{ post['Title'] }}</a>. <i>{{ post['Organization'] }}</i>{% if post['Context'] %} [{{ post['Context'] }}]{% endif %}, {{ post['Location'] }}.</p>
    {% endfor %}
    
      <h3>Publications</h3>
    {% for post in data["communications"] if post["Type"] == "Article"%}
    <p class="smb">{% if post['Authors'] %}{{ post['Authors'] }}{% else %}Giguère, M. F.{% endif %} ({{ post['Date'] }}). <a href="{{post['Url']}}">{% if post["Type"] == "Ouvrage" %}<i>{{ post['Title'] }}</i>{% else %}{{ post['Title'] }}{% endif %}</a>. {% if post["Type"] != "Ouvrage" %}<i>{{ post['Organization'] }}</i>{% else %}{{ post['Organization'] }}{% endif %}{% if post['Context'] %} [{{ post['Context'] }}]{% endif %}.</p>
    {% endfor %}

      <h3>Bénévolat</h3>
      {% for post in data["experiences"] if post["Type"] == "benevolat" %}
      <div class="line"><span><b>{{ post["Title"] }}</b></span>
        <span>{{ post['StartDate'] }} à {{ post['EndDate'] }}</span></div>
        <p class="mb"><i>{{ post['Organization'] }}</i>: {{ post['Tasks'] | safe }}</p>
        {% endfor %}
    </div>
    </div>

    {% if data["projects"] %}
      <h3>Projets technologiques</h3>
      {% for post in data["projects"][:3] %}
      <div class="line"><span><b>{{ post["Title"] }}</b>{% if post["Url"] %} (<a href="{{ post['Url'] }}">lien</a>){% endif %}</span>
        <span>{{ post['StartDate'] }} à {{ post['EndDate'] }}</span></div>
        <p><i>{{ post['Organization'] }}</i> ({{ post["Lang"] }})</p>
        <p class="mb">{{ post['Description'] | safe }}</p>
        {% endfor %}
    </div>
  </div>
  {% endif %}

  </div>
  </page>
<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</body>