<!DOCTYPE html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/funky.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
  <title>{{ data['user'][0]['LastName'] }}_resume</title>
</head>

<body>
  {% block cover %}
  {% endblock %}
  <page size="A4">
    <div class="container">
      <div class="leftPanel">
        <div class="details">
          {% if not cover %}
          <div class="item bottomLineSeparator">
            <h2>
              Coordonnées
            </h2>
            <div class="smallText">
              <p>
                <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                {{ data['user'][0]["Phone"] }}
              </p>
              <p>
                <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                <a href="{{ data['user'][0]['Email'] }}" style="overflow: hidden;
                direction: rtl; ">
                  {{ data['user'][0]["Email"] }}
                </a>
              </p>
              <p>
                <i class="fa fa-map-marker contactIcon" aria-hidden="true"></i>
                {{ data['user'][0]["City"] }}
              </p>
            </div>
          </div>
          {% endif %}

          <div class="item bottomLineSeparator">
            <h2>
              Compétences
            </h2>
            <div class="smallText">
                {% for post in data["skills"] if post["Type"] == "compétences" or post["Type"] == "technical" %}
                {% if post["Title"] in highlighted_skills[:3] %}
                  <div class="skill bolded white"  style="margin-bottom:4px">
                {% else %}
                  <div class="skill"  style="margin-bottom:4px">
                {% endif %}
                    
                        <div>
                            <span>{{ post["Title"] }}</span>
                        </div>
                        <div class="yearsOfExperience">
                        <span class="alignright">{{ post["YoE"] }}</span>
                        <span class="alignleft">an{% if not post["YoE"] == 1 %}s{% endif %}</span>
                        </div>
                    </div>


                {% endfor %}
            </div>
          </div>


          
          <div class="item">

            

            <h2>
              Éducation
            </h2>

            {% for post in data["etudes"] if post["Type"] == "etude" and not post["Title"] in skips %}
            
            <div class="smallText">
              <span class="bolded white" >
                {{ post['Title'] }}                
              </span>
              <p style="margin-bottom:16px">
                {{ post['Organization'] }}
              </p>
            </div>
            {% endfor %}
          </div>

          
        </div>
        
      </div>
      <div class="rightPanel">
        {% if not cover %}
        <div>
          <h1>
            {{ data['user'][0]["FirstName"] }} {{ data['user'][0]["LastName"] }}
          </h1>
          <div class="smallText">
            <h3>
              {{ data['user'][0]["CatchPhrase"] }}
            </h3>
          </div>
        </div>
        
        <div>
          <h2>
            À propos
          </h2>
          <div class="smallText">
            <p>
              {{ data['user'][0]["AboutMe"] }}
            </p>
          </div>
        </div>
        {% endif %}
        <div class="workExperience">
          <h2>
            Expériences pertinentes
          </h2>
          <ul>
          {% for post in relevant_jobs[:2] if post["Title"] not in skips %}
            <li>
              <div class="jobPosition">
                <span class="bolded">
                  {{ post['Title'] }}
                </span> 
                <span>
                  {{ post['StartDate'] }} à {% if post['EndDate'] %}{{ post['EndDate'] }}{% else %}auj.{% endif %}
                </span>
              </div>
              <div class="projectName">
                <span>
                  {{ post['Organization'] }}
                </span> <span>({{ post['Time'] }})</span>
              </div>
              <div class="smallText" style="margin-bottom:0px">
                <ul>
                  {% set list1 = post['Tasks'].split('., ') %}
                  {% for item in list1 %}
                      <li style="text-align:justify">{{ item }}</li>
                  {% endfor %} 
                </ul>
                <p style="margin-bottom:0px">
                  <span class="bolded" >Compétences: </span>{{ post['Skills'] }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>

          <h2>
            Autres expériences récentes
          </h2>
          {% for post in emplois if post["Title"] not in skips %}
              <div class="jobPosition">
                <span class="bolded">
                  {{ post['Title'] }}
                </span> 
                <span>
                  {{ post['StartDate'] }} à {% if post['EndDate'] %}{{ post['EndDate'] }}{% else %}auj.{% endif %}
                </span>
              </div>
              <div class="projectName smb">
                <span>
                  {{ post['Organization'] }}
                </span> <span>({{ post['Time'] }})</span>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </page>
  <page size="A4">
    <div class="container">
      <div class="leftPanel">
        <div class="details">
        <div class="item bottomLineSeparator">

          <h2>
            Prix et bourses
          </h2>

          {% for post in data["skills"] if post["Type"] == "award"%}
          <div class="smallText">
            <div>
              <span class="bolded white">{{ post["Title"] }}</span>
            </div>
            <div class="skill">
              <div>
                  <span>{{ post['Organization'] }}</span>
              </div>
              <div class="YoEOfExperience">
              <span class="alignright"></span>
              <span class="alignleft">{{ post['YoE'][:4] }}</span>
              </div>
          </div></div>
          {% endfor %}
        </div>

      <div class="item">
        <h2>
          Certifications
        </h2>
        
        {% for post in data["etudes"] if post["Type"] == "certification"%}
        <div class="smallText">
        <div>
          <span class="bolded white">{{ post["Title"] }}</span>
        </div>
        <div class="skill">
          <div>
              <span>{{ post['Organization'] }}</span>
          </div>
          <div class="YoEOfExperience">
          <span class="alignright"></span>
          <span class="alignleft">{{ post['StartDate'] }}</span>
          </div>
      </div></div>
        {% endfor %}
      </div></div>      </div>



      <div class="rightPanel">
        {% if "communications" in parameters["sections"] %}
        <div class="workExperience">
          <h2>
            Communications et publications récentes
          </h2>
          {% for post in data["communications"] if post["Type"] == "Article" and not post['Authors'] %}
              <div class="jobPosition">
                <span class="bolded">
                  {{ post['Title'] }}
                </span>
                <span>
                  {{ post['Date'][:4] }} 
                </span>
              </div>
              <div class="projectName smallText">
                <span>
                  {{ post['Type'] }}, pour <i>{{ post['Organization'] }}</i>
                </span>
              </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if data["projects"] %}
        <div class="workExperience">
          <h2>
            Réalisations technologiques
          </h2>
          {% for post in data["projects"][:7] %}
          <div class="jobPosition">
            <span class="bolded">
              {{ post['Title'] }}
            </span>
            <span>
              {{ post['StartDate'] }} {% if post['EndDate'] != post['StartDate'] %}à {% if post['EndDate'] %}{{ post['EndDate'] }}{% else %}auj.{% endif %}{% endif %}
            </span>
          </div>
          <div class="jobPosition">
            <span><i>{{ post['Organization'] }}</i> ({{ post["Lang"] }})</span>
            </span> 
          </div>
              <div class="projectName smallText">
                <span>
                  {{ post['Description'] | safe }}
                </span>
              </div>
            {% endfor %}
        </div>
      </div>
      {% endif %}

      </div>
  </page>   
</body>
</html>